<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>625420473695-2ng7fc0d0h7hrog32pda6gilgmho0h6h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.625420473695-2ng7fc0d0h7hrog32pda6gilgmho0h6h</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>625420473695-v49lfv19e368hukiv14qfc1o6jpthag5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAR14yUkFIFRG2VJec2ktZAm8mTJjeqGro</string>
	<key>GCM_SENDER_ID</key>
	<string>625420473695</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aplication-corona-stop</string>
	<key>PROJECT_ID</key>
	<string>querytenacovid19</string>
	<key>STORAGE_BUCKET</key>
	<string>querytenacovid19.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:625420473695:ios:3221f6eec3eb7a6f4792ea</string>
	<key>DATABASE_URL</key>
	<string>https://querytenacovid19.firebaseio.com</string>
</dict>
</plist>